<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/popup.css">
    <link rel="styleshee" href="~/css/form.css">
    <title>Document</title>
</head>
<body>
    <div class="conteiner">
        <div class="row">
            <div class="col offset-9">
                <button id="warn" class="allbuttons secondary-button" type="button">Cancel</button>
                <button class="allbuttons primary-button" type="submit">Save</button>
            </div>
        </div>
    </div>


    <!-- POP UP CONTAINER BEGIN -->
    <div class="warning-container" id="warning-container">
        <div class="image">
            <img src="~/images/WarningIco.png" height="100px" />
        </div>
        <div class="warning">
            <h1>You are about to discard changes</h1>
            <div class="text">
                <p>Entered information will be missed!</p>
                <p>Are you sure?</p>
            </div>
            <div class="buttons">
                <button id="close-warn" class="allbuttons secondary-button">No</button>
                <button class="allbuttons primary-button">Yes</button>
            </div>
        </div>
    </div>
    <!-- POP UP CONTAINER END -->


</body>
<script src="~/js/popup.js"></script>
</html>