@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArticlesList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/articles_list.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 main-form-container">
                <div class="preview-search-container justify-content-between my-3">
                    <a href="#" class="text-decoration-none preview-wrapper">
                        <img src="~/images/preview_eye.png" alt="preview_eye.png" class="preview-eye-img" />
                        <p class="preview-text ml-1 mb-0">Preview</p>
                    </a>
                    <div class="search ml-auto">
                        <img src="~/images/search.png" alt="search.png" class="search-img" />
                        <input type="text" name="" placeholder="Type here to search" />
                    </div>
                </div>
                <form class="d-flex justify-content-between my-3">
                    <select class="dropdown-form" name="">
                        <option value="a">All Conferences</option>
                        <option value="b">b</option>
                        <option value="c">c</option>
                    </select>
                    <select class="dropdown-form" name="">
                        <option value="a">All Teams</option>
                        <option value="b">b</option>
                        <option value="c">c</option>
                    </select>
                    <select class="dropdown-form" name="">
                        <option value="a">All</option>
                        <option value="b">b</option>
                        <option value="c">c</option>
                    </select>
                </form>
                <div class="articles-preview-container mt-3">
                    <div class="article-preview my-2">
                        <a href="#" class="main-link"></a>
                        <img src="~/images/mock_article_img.png" alt="sample_img" />
                        <div class="text-container">
                            <div class="dropdown">
                                <a type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h fa-lg "></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Submenu &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 1</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 2</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 1</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 4</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 5</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="headline">As M.L.B.'s Season Opens in Japan, at Least the Dirt Is Familiar</div>
                            <div class="article-brief-start my-2">
                                TOKYO — Major League Baseball begins its 2019 season on Wednesday in Japan
                                with the first of two games between the Oakland Athletics and the Seattle Mariners. But when the teams
                            </div>
                            <div class="location-status-container d-flex justify-content-between">
                                <span class="location">AFC South / Tennessee</span>
                                <div class="state">
                                    <img class="green-circle" src="~/images/green_circle.png" alt="green_circle" />
                                    <p class="d-block m-0">Published</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-preview my-2">
                        <a href="#" class="main-link"></a>
                        <img src="~/images/mock_article_img.png" alt="sample_img" />
                        <div class="text-container">
                            <div class="dropdown">
                                <a type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h fa-lg "></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Submenu &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 1</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 2</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 1</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 4</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 5</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="headline">As M.L.B.'s Season Opens in Japan, at Least the Dirt Is Familiar</div>
                            <div class="article-brief-start my-2">
                                TOKYO — Major League Baseball begins its 2019 season on Wednesday in Japan
                                with the first of two games between the Oakland Athletics and the Seattle Mariners. But when the teams
                            </div>
                            <div class="location-status-container d-flex justify-content-between">
                                <span class="location">AFC South / Tennessee</span>
                                <div class="state">
                                    <img class="green-circle" src="~/images/green_circle.png" alt="green_circle" />
                                    <p class="d-block m-0">Published</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-preview my-2">
                        <a href="#" class="main-link"></a>
                        <img src="~/images/mock_article_img.png" alt="sample_img" />
                        <div class="text-container">
                            <div class="dropdown">
                                <a type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h fa-lg "></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Submenu &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 1</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 2</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 1</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 4</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 5</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="headline">As M.L.B.'s Season Opens in Japan, at Least the Dirt Is Familiar</div>
                            <div class="article-brief-start my-2">
                                TOKYO — Major League Baseball begins its 2019 season on Wednesday in Japan
                                with the first of two games between the Oakland Athletics and the Seattle Mariners. But when the teams
                            </div>
                            <div class="location-status-container d-flex justify-content-between">
                                <span class="location">AFC South / Tennessee</span>
                                <div class="state">
                                    <img class="green-circle" src="~/images/green_circle.png" alt="green_circle" />
                                    <p class="d-block m-0">Published</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-preview my-2">
                        <a href="#" class="main-link"></a>
                        <img src="~/images/mock_article_img.png" alt="sample_img" />
                        <div class="text-container">
                            <div class="dropdown">
                                <a type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h fa-lg "></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Submenu &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 1</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 2</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 1</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 4</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 5</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="headline">As M.L.B.'s Season Opens in Japan, at Least the Dirt Is Familiar</div>
                            <div class="article-brief-start my-2">
                                TOKYO — Major League Baseball begins its 2019 season on Wednesday in Japan
                                with the first of two games between the Oakland Athletics and the Seattle Mariners. But when the teams
                            </div>
                            <div class="location-status-container d-flex justify-content-between">
                                <span class="location">AFC South / Tennessee</span>
                                <div class="state">
                                    <img class="green-circle" src="~/images/green_circle.png" alt="green_circle" />
                                    <p class="d-block m-0">Published</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-preview my-2">
                        <a href="#" class="main-link"></a>
                        <img src="~/images/mock_article_img.png" alt="sample_img" />
                        <div class="text-container">
                            <div class="dropdown">
                                <a type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h fa-lg "></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Submenu &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 1</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 2</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 1</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 4</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 5</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="headline">As M.L.B.'s Season Opens in Japan, at Least the Dirt Is Familiar</div>
                            <div class="article-brief-start my-2">
                                TOKYO — Major League Baseball begins its 2019 season on Wednesday in Japan
                                with the first of two games between the Oakland Athletics and the Seattle Mariners. But when the teams
                            </div>
                            <div class="location-status-container d-flex justify-content-between">
                                <span class="location">AFC South / Tennessee</span>
                                <div class="state">
                                    <img class="green-circle" src="~/images/green_circle.png" alt="green_circle" />
                                    <p class="d-block m-0">Published</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="article-preview my-2">
                        <a href="#" class="main-link"></a>
                        <img src="~/images/mock_article_img.png" alt="sample_img" />
                        <div class="text-container">
                            <div class="dropdown">
                                <a type="text" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-h fa-lg "></i>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li>
                                        <a class="dropdown-item" href="#">Another action</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">
                                            Submenu &raquo;
                                        </a>
                                        <ul class="dropdown-menu dropdown-submenu">
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 1</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 2</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 3 &raquo; </a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 1</a>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-item" href="#">Multi level 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 4</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" href="#">Submenu item 5</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="headline">As M.L.B.'s Season Opens in Japan, at Least the Dirt Is Familiar</div>
                            <div class="article-brief-start my-2">
                                TOKYO — Major League Baseball begins its 2019 season on Wednesday in Japan
                                with the first of two games between the Oakland Athletics and the Seattle Mariners. But when the teams
                            </div>
                            <div class="location-status-container d-flex justify-content-between">
                                <span class="location">AFC South / Tennessee</span>
                                <div class="state">
                                    <img class="green-circle" src="~/images/green_circle.png" alt="green_circle" />
                                    <p class="d-block m-0">Published</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    <script>
        search = document.querySelector(".search");
        search_img = document.querySelector(".search-img");

        search_img.onclick = function () {
            search.classList.toggle('active');
        }
    </script>
<script>
    var box = document.getElementById('.dropdown');
    document.querySelectorAll("[data-link]").forEach(el => {
        el.addEventListener("click", () => window.location.href = "hello");
    });

</script>
</body>
</html>
