@using Lanthanum.Web.Services
@{
    ViewData["Title"] = "Home Page";
    var textT = ViewBag.Message;
}

@inject AuthService _authService

<div class="text-center">
    <h1 class="display-4">@User.Identity.Name</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> @textT </p>
</div>
