<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lanthanum.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/auth.css" />
</head>
<body>
    <div class="container-fluid">
        <header>
            <nav class="navbar navbar-expand-sm  bg-transparent justify-content-between">
                <a class="navbar-brand d-table" asp-controller="Home" asp-action="Index">
                    <p class="d-table-cell">Sports Hub</p>
                </a>
                <div class="navbar-nav ml-auto">
                    @await RenderSectionAsync("AuthenticationHeaderAttr")
                </div>
            </nav>
        </header>
        <div class="row">
            <div class="col-lg-6 col-md-6 d-none d-md-block infinity-image-container"></div>
            <div class="col-lg-6 col-md-6 infinity-form-container">
                <div class="col-lg-9 col-md-12 col-sm-8 col-xs-12 infinity-form">@RenderBody()</div>
            </div>
        </div>
    </div>
</body>
</html>
