@{
    Layout = "_AuthenticationLayout";
}

@section AuthenticationHeaderAttr
{
    <p class="nav-item header-question ml-md-5">Don't have an account?</p>
    <a href="~/authentication/signup" class="nav-item header-ref ml-sm-5">Sign Up</a>
}

<div class="text-left mb-4">
    <h4>Log in To Sports Hub</h4>
</div>
<form class="px-3">
    <div class="social-network-container">
        <a href="#" class="fb-img"></a>
        <a href="#" class="google-img"></a>
    </div>
    <div class="plain-line">
        <div class="float-left">EMAIL ADDRESS</div>
    </div>
    <br>
    <div class="form-input">
        <input type="email" name="" placeholder="Email@gmail.com" tabindex="10" required>
    </div>
    <div class="plain-line">
        <div class="float-left">
            PASSWORD
        </div>
        <div class="text-right">
            <a href="reset.html" class="forget-link">Forgot password?</a>
        </div>
    </div>
    <div class="form-input">
        <input type="password" name="" placeholder="8+ characters(letters and numbers)" required>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-block">LOGIN</button>
    </div>
</form>