@model LogInViewModel

@{
    Layout = "_AuthenticationLayout";
}

@section AuthenticationHeaderAttr
{
    <p class="nav-item header-question ml-md-5">Don't have an account?</p>
    <a asp-controller ="Authentication" asp-action="SignUp" class="nav-item header-ref ml-sm-5">Sign Up</a>
}

<div class="text-left mb-4 px-3">
    <h4>Log in To Sports Hub</h4>
</div>
<form class="px-3" method="post">
    <div class="social-network-container">
        <a href="#" class="fb-img"></a>
        <a href="#" class="google-img"></a>
    </div>
    <div>@Html.ValidationSummary(false)</div>

    <div class="form-input">
        <div class="plain-line">
            EMAIL ADDRESS
        </div>
        @Html.TextBoxFor(m => m.Email, new {placeholder = "Email@gmail.com"})
    </div>
    <div class="plain-line">
        <div class="float-left">
            PASSWORD
        </div>
        <div class="text-right">
            <a href="reset.html" class="forget-link">Forgot password?</a>
        </div>
    </div>
    <div class="form-input">
        @Html.TextBoxFor(m => m.Password, new {placeholder = "8+ characters(letters and numbers)", type = "password"})
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-block">LOG IN</button>
    </div>
</form>