@model ResetPasswordRequestModel

@{
    Layout = "_AuthenticationLayout";
}

@section AuthenticationHeaderAttr
{
    <p class="nav-item header-question ml-md-5">Don't have an account?</p>
    <a asp-controller ="Authentication" asp-action="SignUp" class="nav-item header-ref ml-sm-5">Sign Up</a>
}

<div class="text-left mb-2 px-3">
    <h1 class="page-name">Forgot your password?</h1>
</div>
<form class="px-3" method="post">
    <div class="input-container">
        <div class="text-left plain-line mb-3 additional-info">Enter your email address below and we’ll get you back on track.</div>
        <div>@Html.ValidationSummary(false)</div>
        <div class="plain-line float-left mb-1">EMAIL ADDRESS</div>
        <div class="form-input">
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email@gmail.com" })
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-block submit-button">REQUEST RESET LINK</button>
            <a asp-controller="Authentication" asp-action="LogIn" class="back-link text-center">Back to Log In</a>
        </div>
    </div>
</form>