@model ResetPasswordModel

@{
    Layout = "_AuthenticationLayout";
}

@section AuthenticationHeaderAttr
{
    <p class="nav-item header-question ml-md-5">Don't have an account?</p>
    <a asp-controller ="Authentication" asp-action="SignUp" class="nav-item header-ref ml-sm-5">Get Started</a>
}

<div class="text-left mb-4 px-3">
    <h1 class="page-name">Please enter your new password.</h1>
</div>
<form class="px-3" method="post">
    <div class="input-container">
        <div>@Html.ValidationSummary(false)</div>
        <div class="plain-line float-left mb-1 text-uppercase">new password</div>
        <div class="form-input">
            @Html.TextBoxFor(m => m.NewPassword, new { placeholder = "new password", type = "password"})
        </div>
        <div class="plain-line float-left mb-1 text-uppercase">password</div>
        <div class="form-input">
            @Html.TextBoxFor(m => m.Password, new { placeholder = "confirm password", type = "password" })
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-block submit-button text-uppercase">set new password</button>
            <a asp-controller="Authentication" asp-action="LogIn" class="back-link text-center">Back to Log In</a>
        </div>
    </div>
</form>