@{
    Layout = "_AuthenticationLayout";
}

@section AuthenticationHeaderAttr
{
    <p class="nav-item header-question ml-md-5">Don't have an account?</p>
    <a asp-controller ="Authentication" asp-action="SignUp" class="nav-item header-ref ml-sm-5">Get Started</a>
}

<img src="/images/check-mail.svg" alt="Check mail icon" class="mb-4 mx-auto">
<div class="text-center mb-2 px-3">
    <h1 class="page-name">Check your email @ViewBag.Email</h1>
    <div class="mx-auto text-center plain-line mb-3 additional-info">
        If there's Sports Hub account linked to this email address, we'll send over instructions to reset your password.
    </div>
</div>
