body {
    background: #fff;
}

a {
    color: black;
    text-decoration: none;
}


#drop {
    display: block;
}

.collapsed drop {
    display: none;
}



.blog-comment {
    padding-top: 2em;
    padding-bottom: 4em;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #eee;
    margin-bottom: 3.5em;
}
    .blog-comment .headings {
        display: flex;
        justify-content: space-between ;
        align-items: flex-start;
    }

    .blog-comment .sort-comments-dropdown {
        position: relative;
        display: inline-block flex;
        align-items: center;
    }
    .blog-comment .sort-comments-dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 152px;
        z-index: 1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }
    .blog-comment .sort-comments-button {
        color: #d54343;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border: none;
        font-weight: 700;
        font-size: 18px;
        background-color: transparent;
        outline: none;
    }   
    .blog-comment .sort-comments-dropdown-content-element{
        display: flex;
        justify-content:center;
    }
    .blog-comment .sort-comments-dropdown-content-button {
        border: none;
        background-color: transparent;
        min-width: 152px;
    }
    .blog-comment .sort-comments-dropdown:hover .sort-comments-dropdown-content {
        display: block;
    }
    .blog-comment .sort-comments-dropdown:hover .sort-comments-dropdown-start {
        background-color: white;
    }
    .blog-comment .sort-comments-dropdown:hover .sort-comments-dropdown-content .sort-comments-dropdown-content-element:hover {
        background-color: #eee;
    }
        .blog-comment ul {
            list-style-type: none;
            padding: 0;
        }

    .blog-comment .red-section {
        display: flex;
        font-size: 18px;
        color: #c4c4c4;
        font-weight: 600;
    }
    .blog-comment img.avatar {
        position: relative;
        float: left;
        margin-left: 15px;
        margin-top: 10px;
        width: 45px;
        height: 45px;
        border-radius: 50%;
    }

    .blog-comment .post-comments {
        border: hidden;
        margin-top: 15px;
        margin-bottom: 10px;
        margin-left: 65px;
        margin-right: 0px;
        padding: 10px 20px;
        position: relative;
        background: #fff;
        color: black;
        position: relative;
    }
    .blog-comment .comment-content{
        position: relative;
        word-wrap: break-word;

    }
    .blog-comment .meta {
        font-size: 15px;
        color: #aaaaaa;
        padding-bottom: 8px;
        margin-bottom: 10px !important;

    }
        .blog-comment .meta .nickname-link:hover  {
            color: #d54343;
            text-decoration: none;
        }
        .blog-comment .meta a {
            font-weight: 600;
        }
            .blog-comment .meta :hover a {
            color: #d54343;
            text-decoration: none;
        }
    .blog-comment .comment-like {
        margin-left: -5px;
    }
    .blog-comment .comment-dislike{
        margin-left: 5px; 
    }
    .blog-comment .red-section button {
        background-color: transparent;
        border: none;
    }
    .blog-comment .underpost {
        font-size: 13px;
        color: #aaaaaa;
        padding-bottom: 8px;
        margin-bottom: 10px !important;
        border-top: 1px solid #eee;
    }


    .blog-comment ul.comments ul {
        list-style-type: none;
        padding: 0;
        margin-left: 85px;
    }

.blog-comment-form {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40px;
}

    .blog-comment h3,
    .blog-comment-form h3 {
        margin-bottom: 40px;
        line-height: 30px;
        color: black;
        font-weight: 700;
        margin-top: 10px;
        font-size: 18px;
    }
.fa:hover {
    color: #d54343;
    outline: none;
}
.fa {
    font-size: 20px;
    outline: none;
    color: #c4c4c4;
}