.greyBox {
    float: left;
    width: 420px;
    height: 290px;
    padding: 10px 20px 30px;
    position: absolute;
    left: 59.5%;
    top: 26.5%;
    text-align: justify;
    word-wrap: break-word;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    z-index: 2;
    overflow: auto;
    box-sizing: border-box;
    display: block;
}

.OneGeneral {

}

.Devider {
    position: absolute;
    left: 25.5%;
    top: 69%;
}

.DateTime {
    z-index: 5;
    font-family: arial;
    font-size: 0.85rem;
    color: rgb(127,123,123);
    padding-top: 30px;
    padding-left: 10px;
}

.HeadLine {
    z-index: 5;
    font-family: arial;
    font-size: 1.15rem;
    font-weight: bold;
    color: rgb(224,34,50);
    padding-left: 10px;
}

.HeaderText {
    z-index: 5;
    font-family: Tahoma;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(43,47,67);
    padding-left: 10px;
}

img.ImageContainer {
    z-index: -1;
    position: absolute;
    left: 25.9%;
    top: 17.5%;
    width: 816px;
    height: 459px;
}

img.BackgroundContainer {
    width: 420px;
    height: 290px;
    position: absolute;
    left: 59.5%;
    top: 26.5%;
    z-index: 1;
    border: 1px solid rgba(0,0,0,.125);
}

.whiteBox {
    float: left;
    width: 816px;
    height: 459px;
    position: absolute;
    left: 25.5%;
    top: 70%;
    text-align: justify;
    word-wrap: break-word;
    z-index: 10;
}

.TextMain {
    z-index: 1;
    font-family: arial;
    font-size: 1.15rem;
    font-weight: lighter;
    color: rgb(315,33,48);
    padding-left: 10px;
}

.BorderOne {
    width: 816px;
    height: 300px;
    position: absolute;
    left: 26%;
    top: 90%;
}

.GeneralContainer {
    width: 900px;
    height: 300px;

    position: absolute;
    left: 26%;
    top: 98%;
}

.GeneralContainerTwo {
    width: 900px;
    height: 300px;
    position: absolute;
    left: 48.65%;
    top: 98%;
}

.containerFirst {
    width: 400px;
    height: 101px;
    border: 1px solid rgba(0,0,0,.125);
}

.MiniText {
    width: 215px;
    max-height: 80px;
    font-family: arial;
    font-size: 0.85rem;
    color: rgb(127,123,123);
    text-align: left;
}

.HeadMiniText {
    width: 215px;
    max-height: 20px;
    font-family: arial;
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
    text-align: left;
    padding-top: 4px;
}

.NoMerge {
    padding:0;
    max-width: 41%;
}

.NoMergeText {
    padding: 0;
    margin-bottom: 0.1rem;
}