@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap%27');

.hightlight {
    color: red;
    cursor: pointer;
}
.hightlight:hover {
    text-decoration: underline;
}

.drag-area {
    font-family: 'Open Sans', sans-serif;
    border: 2px dotted gray;
    width: 816px;
    height: 459px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    margin-bottom: 20px;
}
    .drag-area.active {
        display: flex;
        border: 0px solid gray;
    }

.drag-area img #inserted {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid gray;
}

.form-text{
    color: gray;
    padding: 0;
    margin-bottom: 4px;
}

.form-container {
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 25%;
    width: 50%;
}

.input {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.IconText {
    margin-top: 30px;
}

.IconForm {
    margin-top: 140px;
}