@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap%27');

.hightlight {
    color: red;
    cursor: pointer;
}
.hightlight:hover {
    text-decoration: underline;
}

.drag-area {
    font-family: 'Open Sans', sans-serif;
    border: 2px dotted gray;
    width: 816px;
    height: 459px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    margin-bottom: 20px;
}
    .drag-area.active {
        display: flex;
        border: 0px solid gray;
    }

.drag-area img #inserted {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid gray;
}

.form-text{
    color: gray;
    padding: 0;
    margin-bottom: 4px;
}

.form-container {
    margin-top: 30px;
    margin-left: 30%;
    margin-right: 25%;
    width: 50%;
}

.input {
    font-family: arial;
    font-size: 1.15rem;
    font-weight: lighter;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.icon-text {
    margin-top: 30px;
}

.icon-form {
    margin-top: 140px;
}

.secret-page {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: none;
    position: relative;
    left: 5%;
    top: 0%;
    z-index: -1;
}

.general-view {
    position: relative;
}

.inserted-img {
    z-index: 6;
}

.button-form {
    float: right;
    width: 57px;
}

.button-form:hover {
    width: 58.5px;
}

.view-buttons {
    z-index: 5
}

.hided-icon {
    display: none;
    z-index: 5;
}

.filter-container {
    display: none;
    z-index: -1;
}

.resize-container {
    display: none;
    z-index: -1;
}

.crop-container {
    display: none;
    z-index: -1;
}

.slidecontainer-f {
    width: 100%;
}

.slider-f {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

    .slider-f:hover {
        opacity: 1;
    }

    .slider-f::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(215,33,48);
        cursor: pointer;
    }