<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Lanthanum.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Lanthanum.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* Old footer *@
    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - Lanthanum.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    @* New footer *@

    @* Tabs with links *@

    <footer class="bg-white" id="footer">
        <div class="container py-5">
            <hr id="footer-divider" />
            <div class="row py-4 justify-content-between">
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <h6 class="footer-tab-title text-uppercase font-weight-bold mb-4">Company Info</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="footer-tab-link text-muted">About Sports Hub</a></li>
                        <li class="mb-2"><a href="#" class="footer-tab-link text-muted">News / In the Press</a></li>
                        <li class="mb-2"><a href="#" class="footer-tab-link text-muted">Advertising / Sports Blogger Ad Network</a></li>
                        <li class="mb-2"><a href="#" class="footer-tab-link text-muted">Events</a></li>
                        <li class="mb-2"><a href="#" class="footer-tab-link text-muted">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <h6 class="footer-tab-title text-uppercase font-weight-bold mb-4">Contributors</h6>
                    <ul class="list-unstyled mb-0">
                        <li class="mb-2"><a href="#" class="footer-tab-link text-muted">Featured Writers Program</a></li>
                        <li class="mb-2"><a href="#" class="footer-tab-link text-muted">Featured Team Writers Program</a></li>
                        <li class="mb-2"><a href="#" class="footer-tab-link text-muted">Intership Program</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-lg-0">
                    <h6 class="footer-tab-title text-uppercase font-weight-bold mb-4">Newsletter</h6>
                    <p class="text-muted mb-1" id="footer-newsletter-description">Sign up to receive the latest sports news</p>
                    <div class="p-1">
                        <div class="input-group" id="footer-newsletter-form">
                            <input type="email" placeholder="Your email address" class="form-control shadow-none shadow-0" aria-describedby="footer-newsletter-subscribe-button" id="footer-newsletter-email-input">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-danger shadow-none shadow-0" id="footer-newsletter-subscribe-button">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @* Copyrights *@

        <div class="footer-copyright py-4 row m-0">
            <div class="container flex-row col-4">
                <p class="mb-0 py-2" id="footer-copyright-logo"><a class="text-white" asp-area="" asp-controller="Home" asp-action="Index">Sports Hub</a></p>
            </div>
            <div class="container flex-row col-4">
                <p class="footer-copyright-text mb-0 py-1">Copyright ©2019 Sports Hub</p>
                <p class="footer-copyright-text mb-0 py-1"><a class="text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> / <a class="text-white" href="#">Terms</a></p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
