@{
    ViewData["Title"] = "About Sports Hub";
}

<div class="container about-title">
    <p>@ViewData["Title"]</p>
</div>

<br />

<div class="container about-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Venenatis posuere neque tristique est scelerisque. Eu consectetur vel gravida nulla sed diam amet. Ut aliquet ultricies odio est integer. Justo gravida mattis fermentum, mattis. Mollis elit vitae pulvinar venenatis eu pretium lectus. Nibh nam faucibus orci in.</p>
    <p>Erat magna mi vitae tellus faucibus. Elit lacus bibendum amet, bibendum et quam non. Augue sagittis nunc, cursus nunc dolor sit ornare. Viverra a orci feugiat viverra. Id integer integer etiam mattis tristique neque nisl rhoncus vel. Ac lacus eget in eget auctor neque purus tristique risus. Feugiat porttitor dui, enim commodo gravida diam sed nisl, imperdiet.</p>
    <p>Eu venenatis quam nunc donec eros orci morbi enim egestas. Ut nunc, suspendisse purus risus pharetra. Tortor ac elit nunc adipiscing nec purus egestas odio quis. Libero mi consectetur cursus rhoncus ut commodo maecenas platea viverra. Ut volutpat interdum dignissim amet potenti a at elementum nisl. Odio vel, condimentum tortor sodales sed ac. Viverra sodales laoreet eu feugiat congue. Vitae orci, id porttitor faucibus vulputate. Ac egestas non ullamcorper massa. Habitant dolor lacus, tincidunt nisi, amet in amet. Risus, scelerisque tortor, lorem suspendisse auctor augue. Pretium faucibus cras massa semper sit nisl. Ipsum, pellentesque semper turpis quis. In feugiat nulla at etiam. Quis et non sem ultrices risus luctus pellentesque.<br /></p>
</div>

