@using Lanthanum.Web.Models
@model Lanthanum.Web.Models.ArticleViewModel
@{
    var Article = Model.MainArticle;
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/details.css" />
    <link rel="stylesheet" href="~/css/comments.css" />
</head>

<body style="background: #fff">

    <div class="GeneralView">
        <div class="ArticleHeader">
            <img src="/images/background_image.jpg" class="BackgroundContainer">

            <div class="greyBox">

                <div class="HeadLine">
                    <p>@Article.Headline</p>
                </div>

                <div class="HeaderText">
                    <p>@Article.Header</p>
                </div>

            </div>
        </div>
    </div>
</body>