@page
@model Lanthanum.Web.Views.Articles.IndexModel

<div class="row">
    <div class="col text-center">
        <h1> Hello World</h1>
        <a href="/Articles/Details/1" class="btn btn-success m-1">
            View
        </a>
    </div>
</div>
